* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

ul {
  margin-bottom: 0;
  list-style-type: none;
}

.title {
  font-size: 3.25rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}

.paragraph {
  font-weight: 500;
  font-size: 1.2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: 100%;
  gap: 0.8rem;
}
.gallery img {
  border-radius: 0.4rem;
  width: 300px;
  height: 200px;
}
.gallery img:first-child {
  grid-column: 1/3;
  width: 100%;
  max-width: unset;
}

ul.social-icons {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  max-width: 400px;
}
ul.social-icons li img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.btn {
  font-weight: 500;
}

.btn-light {
  width: 125px;
  height: 40px;
}

header {
  background: #f7c569;
}
header .logo {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
header nav ul {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
}
header nav ul li {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
header nav ul li .btn {
  color: #f7c569;
  background: #35537a;
}
header nav ul li .btn:hover {
  color: #35537a;
  background: #ebebeb;
}
header nav ul li a {
  color: #718eca;
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: 4px;
}
header nav ul li a:hover {
  background: #ebebeb;
  color: #35537a;
  transition: all 0.4s;
}

.about {
  background-color: #f7c569;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.history {
  background: #718eca;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.history-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
.history-content-text {
  flex: 1;
}

.cats {
  background-color: #f7c569;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.cats-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.dogs {
  background-color: #ab927d;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.dogs-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.adoption {
  background-color: #f7c569;
  min-height: 100vh;
  display: flex;
  padding: 40px 0;
}
.adoption-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adoption-content ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
}
.adoption-content ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adoption-content ul li div span {
  font-size: 20px;
  font-weight: 600;
}
.adoption-content ul li div p {
  font-size: 16px;
  font-weight: 500;
}

.contact {
  background: #718eca;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
}
.contact-content-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.contact-content-list {
  flex: 1.5;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding-left: 2rem;
}
.contact-content-list .contact-item span {
  font-size: 32px;
  font-weight: 500;
  text-transform: capitalize;
}
.contact-content-list .contact-item ul {
  font-weight: 500;
  padding-left: 0;
}
.contact-content-list .contact-item ul li {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.contact-content-list .contact-item ul li:first-child {
  margin-top: 1rem;
}

footer {
  padding: 2rem 0;
}
footer span {
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
