.about {
    background-color: $yellow;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}