.about {
    background: linear-gradient(rgba(000,000,000,0.5), rgba(000,000,000,0.5)), url('./../img/dogs-cats.jpg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: $gray;
    }
}