.cats {
    background-color: $yellow;
    min-height: 100vh;
    display: flex;
    align-items: center;

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;

        > div:not(.gallery) {
            flex: 1;
        }
    }
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}