.dogs {
    background-color: $brown;
    min-height: 100vh;
    display: flex;
    
    align-items: center;
    &-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;

        > div:not(.gallery) {
            flex: 1;
        }
    }
}

@media screen and (max-width: 1024px) {
    .dogs {
        padding: 3.5rem 0;
        &-content {
            flex-direction: column-reverse;
            gap: 1.5rem;

            .gallery {
                img {
                    &:nth-child(2){
                        object-position: 0 40%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    
}