header {
    background: $yellow;

    .logo {
        font-size: 18px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
    }

    nav ul {
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 10px;

        li {
            
            .btn {
                color: $yellow;
                background: $dark-blue;
                &:hover {
                    color: $dark-blue;
                    background: $gray;
                    
                }
            }
            
            a {
                color: $light-blue;
                width: 100%;
                padding: .6rem 1rem;
                border-radius: 4px;
                font-weight: 500;

                &:hover {
                    background: $gray;
                    color: $dark-blue;
                    transition: all .4s;
                }
            }
        }
    }
}